## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [55]:
#Import required packages
import pandas as pd
import re

In [2]:
df = pd.read_csv('C:/Users/SUNIL/Desktop/G34-Python\Practical/29-03 Materials/imdb_data.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_996\2135506090.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv('C:/Users/SUNIL/Desktop/G34-Python\Practical/29-03 Materials/imdb_data.csv')

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [4]:
df.drop(columns=['id', 'belongs_to_collection', 'homepage', 'imdb_id', 'original_title', 'poster_path'], inplace=True)

In [5]:
df.columns

Index(['budget', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'revenue'],
      dtype='object')

In [6]:
df.shape

(3000, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3000 non-null   int64
 1   genres                2993 non-null   object
 2   original_language     3000 non-null   object
 3   overview              2992 non-null   object
 4   popularity            3000 non-null   float64
 5   production_companies  2844 non-null   object
 6   production_countries  2945 non-null   object
 7   release_date          3000 non-null   object
 8   runtime               2998 non-null   float64
 9   spoken_languages      2980 non-null   object
 10  status                3000 non-null   object
 11  tagline               2403 non-null   object
 12  title                 3000 non-null   object
 13  Keywords              2724 non-null   object
 14  cast                  2987 non-null   object
 15  crew                  2984 non-null   object
 16  revenue               3000 non-null   int64
dtypes: float64(2), int64(2), object(13)
memory usage: 398.6+ KB

#### 1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>

In [32]:
df['budget'].replace(df[df['budget'] < 1000]['budget'].values, df['budget'].median(), inplace=True)

C:\Users\SUNIL\AppData\Local\Temp\ipykernel_996\918564604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['budget'].replace(df[df['budget'] < 1000]['budget'].values, df['budget'].median(), inplace=True)

In [33]:
df['profit'] = df['revenue'] - df['budget']
df['profit']

0        -1685349
1        55149435
2         9792000
3        14800000
4        -4076030
          ...
2995     -6403313
2996     -7819410
2997     24456761
2998    129963386
2999     47087155
Name: profit, Length: 3000, dtype: int64

In [34]:
highest_profit_movie = df.groupby('title')['profit'].max().sort_values(ascending=False).index[0]
highest_profit_movie

'Furious 7'

In [71]:
cast = df[df['title'] == highest_profit_movie]['cast'].values[0].split('\'character\'')
crew = df[df['title'] == highest_profit_movie]['crew']

In [124]:
producer_lst = []
actors_lst = []
director = None

for i in crew.values[0].split('\'Producer\', \'name\':')[1:]:
    producer_lst.append(i.split(',')[0])

director = crew.values[0].split('\'Director\', \'name\':')[1:][0].split(',')[0]

for i in range(1, len(cast)):
    actors_lst.append(cast[i].split(',')[0].lstrip(': '))

print(f'Movie that made the highest profit: {highest_profit_movie}\nDirector: {director}\nProducers: {producer_lst}\nActors: {actors_lst}')

Movie that made the highest profit: Furious 7
Director:  'James Wan'
Producers: [" 'Vin Diesel'", " 'Neal H. Moritz'", " 'Michael Fottrell'", " 'Brandon Birtell'"]
Actors: ["'Dominic Toretto'", '"Brian O\'Conner"', "'Hobbs'", "'Letty'", "'Roman'", '"Tej (as Chris \'Ludacris\' Bridges)"', "'Mia'", "'Jakande'", "'Kiet'", "'Kara'", "'Ramsey'", "'Mr. Nobody'", "'Deckard Shaw'", "'Han'", "'Gisele'", "'Sean Boswell'", "'Elena'", "'Hector'", "'Sheppard'", "'Owen Shaw'", "'Safar'", "'Jack'", "'Jack'", "'Samantha Hobbs'", "'Letty Fan'", "'Female Racer'", "'Male Racer'", "'Race Starter'", "'Hot Teacher'", "'Doctor'", "'Priest'", "'Merc Tech'", "'Weapons Tech'", "'Billionaire'", "'Dominican Priest'", "'Hana'", "'Merc Driver (as Ben Blankenship)'", "'DJ'", "'DJ'", "'Drone Tech'", "'Jasmine'", "'Mando'", "'Advisor'", "'Field Reporter'", "'Cop'", "'Leo (uncredited / archive)'", "'Neela (uncredited / archive)'", "'Twinkie (uncredited)'", "'Santos (uncredited / archive)'", "'Race Wars Racer (uncredited)'", '"Brian O\'Conner (uncredited)"', '"Brian O\'Connor (uncredited)"']

#### 2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [127]:
df['roi'] = round((df['profit'] / df['budget'])*100, 2)
df.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.04
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.87

In [178]:
highest_roi_lang = df.groupby('original_language')['roi'].max().sort_values(ascending=False).index[0]
print(f'Language that has highest return on investment: {highest_roi_lang}')

Language that has highest return on investment: en

#### 3. Find out the unique genres of movies in this dataset.

In [187]:
df.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.04
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.87

In [206]:
df['genres'].values[356]

"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 9648, 'name': 'Mystery'}]"

In [227]:
re.split("'name': ", df['genres'].values[356])

["[{'id': 28, ",
 "'Action'}, {'id': 12, ",
 "'Adventure'}, {'id': 35, ",
 "'Comedy'}, {'id': 18, ",
 "'Drama'}, {'id': 9648, ",
 "'Mystery'}]"]

#### 4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [ ]:
producer_lst = []
actors_lst = []
director = None

for i in crew.values[0].split('\'Producer\', \'name\':')[1:]:
    producer_lst.append(i.split(',')[0])

director = crew.values[0].split('\'Director\', \'name\':')[1:][0].split(',')[0]

#### 5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

#### 6. Top 3 directors prefer which actors the most?