## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [171]:
#Import required packages
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('C:/Users/SUNIL/Desktop/G34-Python\Practical/29-03 Materials/imdb_data.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_7652\2135506090.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv('C:/Users/SUNIL/Desktop/G34-Python\Practical/29-03 Materials/imdb_data.csv')

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [3]:
df.drop(columns=['id', 'belongs_to_collection', 'homepage', 'imdb_id', 'original_title', 'poster_path'], inplace=True)

In [4]:
df.columns

Index(['budget', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'revenue'],
      dtype='object')

In [6]:
df.shape

(3000, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3000 non-null   int64
 1   genres                2993 non-null   object
 2   original_language     3000 non-null   object
 3   overview              2992 non-null   object
 4   popularity            3000 non-null   float64
 5   production_companies  2844 non-null   object
 6   production_countries  2945 non-null   object
 7   release_date          3000 non-null   object
 8   runtime               2998 non-null   float64
 9   spoken_languages      2980 non-null   object
 10  status                3000 non-null   object
 11  tagline               2403 non-null   object
 12  title                 3000 non-null   object
 13  Keywords              2724 non-null   object
 14  cast                  2987 non-null   object
 15  crew                  2984 non-null   object
 16  revenue               3000 non-null   int64
dtypes: float64(2), int64(2), object(13)
memory usage: 398.6+ KB

#### 1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>

In [8]:
df['budget'].replace(df[df['budget'] < 1000]['budget'].values, df['budget'].median(), inplace=True)

C:\Users\SUNIL\AppData\Local\Temp\ipykernel_7652\918564604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['budget'].replace(df[df['budget'] < 1000]['budget'].values, df['budget'].median(), inplace=True)

In [9]:
df['profit'] = df['revenue'] - df['budget']
df['profit']

0        -1685349
1        55149435
2         9792000
3        14800000
4        -4076030
          ...
2995     -6403313
2996     -7819410
2997     24456761
2998    129963386
2999     47087155
Name: profit, Length: 3000, dtype: int64

In [10]:
highest_profit_movie = df.groupby('title')['profit'].max().sort_values(ascending=False).index[0]
highest_profit_movie

'Furious 7'

In [11]:
cast = df[df['title'] == highest_profit_movie]['cast'].values[0].split('\'character\'')
crew = df[df['title'] == highest_profit_movie]['crew']

In [12]:
producer_lst = []
actors_lst = []
director = None

for i in crew.values[0].split('\'Producer\', \'name\':')[1:]:
    producer_lst.append(i.split(',')[0])

director = crew.values[0].split('\'Director\', \'name\':')[1:][0].split(',')[0]

for i in range(1, len(cast)):
    actors_lst.append(cast[i].split(',')[0].lstrip(': '))

print(f'Movie that made the highest profit: {highest_profit_movie}\nDirector: {director}\nProducers: {producer_lst}\nActors: {actors_lst}')

Movie that made the highest profit: Furious 7
Director:  'James Wan'
Producers: [" 'Vin Diesel'", " 'Neal H. Moritz'", " 'Michael Fottrell'", " 'Brandon Birtell'"]
Actors: ["'Dominic Toretto'", '"Brian O\'Conner"', "'Hobbs'", "'Letty'", "'Roman'", '"Tej (as Chris \'Ludacris\' Bridges)"', "'Mia'", "'Jakande'", "'Kiet'", "'Kara'", "'Ramsey'", "'Mr. Nobody'", "'Deckard Shaw'", "'Han'", "'Gisele'", "'Sean Boswell'", "'Elena'", "'Hector'", "'Sheppard'", "'Owen Shaw'", "'Safar'", "'Jack'", "'Jack'", "'Samantha Hobbs'", "'Letty Fan'", "'Female Racer'", "'Male Racer'", "'Race Starter'", "'Hot Teacher'", "'Doctor'", "'Priest'", "'Merc Tech'", "'Weapons Tech'", "'Billionaire'", "'Dominican Priest'", "'Hana'", "'Merc Driver (as Ben Blankenship)'", "'DJ'", "'DJ'", "'Drone Tech'", "'Jasmine'", "'Mando'", "'Advisor'", "'Field Reporter'", "'Cop'", "'Leo (uncredited / archive)'", "'Neela (uncredited / archive)'", "'Twinkie (uncredited)'", "'Santos (uncredited / archive)'", "'Race Wars Racer (uncredited)'", '"Brian O\'Conner (uncredited)"', '"Brian O\'Connor (uncredited)"']

#### 2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [13]:
df['roi'] = round((df['profit'] / df['budget'])*100, 2)
df.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.04
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.87

In [14]:
highest_roi_lang = df.groupby('original_language')['roi'].max().sort_values(ascending=False).index[0]
print(f'Language that has highest return on investment: {highest_roi_lang}')

Language that has highest return on investment: en

#### 3. Find out the unique genres of movies in this dataset.

In [15]:
df.head(2)

,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,roi
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,"When Lou, who has become the ""father of the In...",6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.04
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Mia Thermopolis is now a college graduate and ...,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.87

In [29]:
for i in df['genres'].values[356].split(',')[1::2]:
    print(i.split(':')[-1].strip('}]'))

 'Action'
 'Adventure'
 'Comedy'
 'Drama'
 'Mystery'

In [74]:
def get_genre(val):
    if type(val) == str:
        return val.split(',')[1].split(':')[-1].strip('}]')
    else:
        pass

df['movie_genre'] = df['genres'].apply(lambda x: get_genre(x))
df['movie_genre']

0          'Comedy'
1          'Comedy'
2           'Drama'
3        'Thriller'
4          'Action'
           ...
2995       'Comedy'
2996        'Drama'
2997        'Crime'
2998       'Comedy'
2999     'Thriller'
Name: movie_genre, Length: 3000, dtype: object

In [78]:
print('Unique Genres in this dataset: ', (df['movie_genre'].unique()), sep='\n')

Unique Genres in this dataset:
[" 'Comedy'" " 'Drama'" " 'Thriller'" " 'Action'" " 'Animation'"
 " 'Horror'" " 'Documentary'" " 'Adventure'" " 'Crime'" " 'Mystery'"
 " 'Fantasy'" " 'War'" " 'Science Fiction'" " 'Romance'" " 'Music'"
 " 'Western'" " 'Family'" " 'History'" None " 'Foreign'" " 'TV Movie'"]

#### 4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [119]:
def get_director(val):
    director_lst = []
    if type(val) == str:
        for i in val.split('\'Director\', \'name\':')[1:]:
            director_lst.append(i.split(',')[0])
    else:
        pass
    return director_lst

directors = df['crew'].apply(lambda x: get_director(x))
directors

0            [ 'Steve Pink']
1        [ 'Garry Marshall']
2       [ 'Damien Chazelle']
3           [ 'Sujoy Ghosh']
4        [ 'Jong-seok Yoon']
                ...
2995      [ 'Dennis Hopper']
2996    [ 'Lukas Moodysson']
2997       [ 'Renny Harlin']
2998       [ 'John Hamburg']
2999     [ 'John Singleton']
Name: crew, Length: 3000, dtype: object

In [146]:
def get_producer(val):
    producer_lst = []
    if type(val) == str:
        for i in val.split('\'Producer\', \'name\':')[1:]:
            producer_lst.append(i.split(',')[0])
    else:
        pass
    return producer_lst

producers = df['crew'].apply(lambda x: get_producer(x))
producers

0                                       [ 'Andrew Panay']
1       [ 'Whitney Houston',  'Mario Iscovich',  'Debr...
2       [ 'David Lancaster',  'Michel Litvak',  'Jason...
3                                        [ 'Sujoy Ghosh']
4                                                      []
                              ...
2995                               [ 'James G. Robinson']
2996                                   [ 'Lars J√∂nsson']
2997    [ 'Stephanie Austin',  'Shane Black',  'Renny ...
2998    [ 'Danny DeVito',  'Michael Shamberg',  'Stace...
2999    [ 'Doug Davison',  'Roy Lee',  'Ellen Goldsmit...
Name: crew, Length: 3000, dtype: object

In [149]:
prod_dir_table = pd.DataFrame({'Movie': df['title'],
              'Producers': producers,
             'Directors': directors,
             'ROI': df['roi']})
prod_dir_table

,Movie,Producers,Directors,ROI
0,Hot Tub Time Machine 2,[ 'Andrew Panay'],[ 'Steve Pink'],-12.04
1,The Princess Diaries 2: Royal Engagement,"[ 'Whitney Houston', 'Mario Iscovich', 'Debr...",[ 'Garry Marshall'],137.87
2,Whiplash,"[ 'David Lancaster', 'Michel Litvak', 'Jason...",[ 'Damien Chazelle'],296.73
3,Kahaani,[ 'Sujoy Ghosh'],[ 'Sujoy Ghosh'],1233.33
4,Marine Boy,[],[ 'Jong-seok Yoon'],-50.95
...,...,...,...,...
2995,Chasers,[ 'James G. Robinson'],[ 'Dennis Hopper'],-80.04
2996,We Are the Best!,[ 'Lars J√∂nsson'],[ 'Lukas Moodysson'],-97.74
2997,The Long Kiss Goodnight,"[ 'Stephanie Austin', 'Shane Black', 'Renny ...",[ 'Renny Harlin'],37.63
2998,Along Came Polly,"[ 'Danny DeVito', 'Michael Shamberg', 'Stace...",[ 'John Hamburg'],309.44
2999,Abduction,"[ 'Doug Davison', 'Roy Lee', 'Ellen Goldsmit...",[ 'John Singleton'],134.53

In [174]:
prod_dir_table['Producer1'] = prod_dir_table['Producers'].map(lambda x: x[0] if len(x) != 0 else np.nan)
prod_dir_table.head()

,Movie,Producers,Directors,ROI,Producer1
0,Hot Tub Time Machine 2,[ 'Andrew Panay'],[ 'Steve Pink'],-12.04,'Andrew Panay'
1,The Princess Diaries 2: Royal Engagement,"[ 'Whitney Houston', 'Mario Iscovich', 'Debr...",[ 'Garry Marshall'],137.87,'Whitney Houston'
2,Whiplash,"[ 'David Lancaster', 'Michel Litvak', 'Jason...",[ 'Damien Chazelle'],296.73,'David Lancaster'
3,Kahaani,[ 'Sujoy Ghosh'],[ 'Sujoy Ghosh'],1233.33,'Sujoy Ghosh'
4,Marine Boy,[],[ 'Jong-seok Yoon'],-50.95,NaN

In [182]:
highest_roi_prod = prod_dir_table.groupby('Producer1')['ROI'].mean().sort_values(ascending=False)
highest_roi_prod

Producer1
'Robin Cowie'          413233.33
'Jason Blum'           163170.66
'John Waters'           49900.00
'Charles B. Pierce'     21900.00
'D.W. Griffith'         10900.00
                         ...
'Larry Castillo'         -100.00
'John Alan Simon'        -100.00
'Elia Kazan'             -100.00
'William Fox'            -100.00
'Thomas E. Ballard'      -100.00
Name: ROI, Length: 1511, dtype: float64

In [187]:
print(f'Producer that made highest average roi: {highest_roi_prod.index[0].strip()} with roi: {highest_roi_prod.values[0]}')

Producer that made highest average roi: 'Robin Cowie' with roi: 413233.33

#### 5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [198]:
df['cast'][313].split("\'character\':")

["[{'cast_id': 10, ",
 " 'Ian', 'credit_id': '52fe46779251416c9105552d', 'gender': 2, 'id': 2219, 'name': 'Tobey Maguire', 'order': 1, 'profile_path': '/l8e9we9RmTsYgNpx4xqQIlMplLl.jpg'}, {'cast_id': 11, ",
 " 'Tracy', 'credit_id': '52fe46779251416c91055531', 'gender': 1, 'id': 27727, 'name': 'Marissa Ribisi', 'order': 8, 'profile_path': '/cKbSKPlaPIFbp5v32rekgENjYi2.jpg'}, {'cast_id': 12, ",
 " 'Bernard', 'credit_id': '52fe46779251416c91055535', 'gender': 2, 'id': 23958, 'name': 'Jeremy Sisto', 'order': 9, 'profile_path': '/o2FDlQQWOxF18Bq6hDvhiQZE8i9.jpg'}, {'cast_id': 13, ",
 " 'Amy', 'credit_id': '52fe46779251416c91055539', 'gender': 1, 'id': 35468, 'name': 'Amber Benson', 'order': 10, 'profile_path': '/hcatQaJNb2lAcBukfn6IOaxtl5F.jpg'}, {'cast_id': 14, ",
 " 'Brad', 'credit_id': '52fe46779251416c9105553d', 'gender': 2, 'id': 83188, 'name': 'Scott Bloom', 'order': 11, 'profile_path': '/82xyc1dLZyPdIuYb0DiTzhLqXg5.jpg'}, {'cast_id': 15, ",
 " 'Jeremy', 'credit_id': '52fe46779251416c91055541', 'gender': 2, 'id': 16666, 'name': 'Kevin Connolly', 'order': 12, 'profile_path': '/rNWJMAz8iIHTiaBW1Qp4QwQAqZw.jpg'}, {'cast_id': 16, ",
 " 'Sara', 'credit_id': '52fe46779251416c91055545', 'gender': 1, 'id': 91415, 'name': 'Jenny Lewis', 'order': 13, 'profile_path': '/gAsEK7zcS8PUJxdakQLwN8iaXy3.jpg'}, {'cast_id': 17, ",
 " 'Constance', 'credit_id': '52fe46779251416c91055549', 'gender': 0, 'id': 22248, 'name': 'Heather McComb', 'order': 14, 'profile_path': '/zthsKWkqe6qBMvKlEww6sVhG4Eu.jpg'}, {'cast_id': 18, ",
 " 'Juliet', 'credit_id': '52fe46779251416c9105554d', 'gender': 1, 'id': 76760, 'name': 'Meadow Sisto', 'order': 15, 'profile_path': None}, {'cast_id': 20, ",
 " '', 'credit_id': '59e392fc9251410b6700039a', 'gender': 2, 'id': 6193, 'name': 'Leonardo DiCaprio', 'order': 16, 'profile_path': '/jToSMocaCaS5YnuOJVqQ7S7pr4Q.jpg'}]"]

#### 6. Top 3 directors prefer which actors the most?