In [ ]:
import numpy as np
import pandas as pd

# <u>**Problem 1**</u>

### You are given a list of urls. You need to extract the domain name from the urls in another list. Also you need to extract the ending string which the url ends with.

### For example, https://www.example.com/market.php -- In this example, domain name is <code>www.example.com</code> and the ending string is <code>php</code>

In [ ]:
# List of urls
url_list = ['https://blog.hubspot.com/marketing/parts-url',
            'https://www.almabetter.com/enrollments',
            'https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html',
            'https://www.programiz.com/python-programming/list']

In [ ]:
# Extract the domains and the ending string. Hint : use the split method for a string

domain_list = [x.split('/')[2] for x in url_list]
ending_string_list = [x.split('/')[-1].split('.')[-1] for x in url_list]

## Next create a pandas dataframe with the above three lists.

In [ ]:
# Your code here. Hint : zip the three lists
list_of_tuples=list(zip(url_list,domain_list,ending_string_list))
url_info_frame=pd.DataFrame(list_of_tuples,columns=['Url','Domain','Ending_string'])
url_info_frame

                                                 Url  ... Ending_string
0       https://blog.hubspot.com/marketing/parts-url  ...     parts-url
1             https://www.almabetter.com/enrollments  ...   enrollments
2  https://pandas.pydata.org/pandas-docs/stable/r...  ...          html
3  https://www.programiz.com/python-programming/list  ...          list

[4 rows x 3 columns]

# Problem 2

### **Problem Statement:**
You are given sales data for a small electronics store. The store sells various products like laptops, smartphones, and tablets. Your task is to create a pandas DataFrame from scratch using the given data and perform some basic analysis.

#### **Instructions:**
1. Create a pandas DataFrame with the following columns:
   - `'Product'`: Name of the product  
   - `'Category'`: Type of product (Laptop, Smartphone, Tablet)  
   - `'Price'`: Price of the product (in USD)  
   - `'Units Sold'`: Number of units sold  

2. Use the following data to populate the DataFrame:  

   | Product              | Category    | Price | Units Sold |
   |----------------------|------------|-------|------------|
   | MacBook Air         | Laptop     | 999   | 35         |
   | Dell XPS 13         | Laptop     | 1199  | 25         |
   | iPhone 14           | Smartphone | 799   | 50         |
   | Samsung Galaxy S23  | Smartphone | 899   | 40         |
   | iPad Pro            | Tablet     | 1099  | 30         |

3. **Perform Basic Analysis on the DataFrame**:
   - Print the first 5 rows of the DataFrame.
   - Print the number of rows and columns.
   - Print the column names.
   - Check for missing values.
   - Print basic statistics using `.describe()`.

---

In [ ]:

import pandas as pd

# Creating the DataFrame
data = {
    'Product': ['MacBook Air', 'Dell XPS 13', 'iPhone 14', 'Samsung Galaxy S23', 'iPad Pro'],
    'Category': ['Laptop', 'Laptop', 'Smartphone', 'Smartphone', 'Tablet'],
    'Price': [999, 1199, 799, 899, 1099],
    'Units Sold': [35, 25, 50, 40, 30]
}

df = pd.DataFrame(data)

# Display first 5 rows
print("First 5 rows of the DataFrame:")
print(df.head())

# Shape of the DataFrame
print("\nShape of the DataFrame (rows, columns):", df.shape)

# Size of the DataFrame
print("\nTotal number of elements in the DataFrame:", df.size)

# Column names
print("\nColumn names:", df.columns.tolist())

# Check for missing values
print("\nMissing values in each column:\n", df.isnull().sum())

# Summary statistics
print("\nSummary statistics of numerical columns:")
print(df.describe())
```

---

### **Expected Output:**
```
First 5 rows of the DataFrame:
             Product    Category  Price  Units Sold
0     MacBook Air     Laptop    999         35
1     Dell XPS 13     Laptop   1199         25
2     iPhone 14   Smartphone    799         50
3     Samsung Galaxy S23  Smartphone    899         40
4     iPad Pro        Tablet   1099         30

Shape of the DataFrame (rows, columns): (5, 4)

Total number of elements in the DataFrame: 20

Column names: ['Product', 'Category', 'Price', 'Units Sold']

Missing values in each column:
Product       0
Category      0
Price         0
Units Sold    0
dtype: int64

Summary statistics of numerical columns:
             Price  Units Sold
count     5.000000   5.000000
mean   999.000000  36.000000
std    146.759473   9.354143
min    799.000000  25.000000
25%    899.000000  30.000000
50%    999.000000  35.000000
75%   1099.000000  40.000000
max   1199.000000  50.000000
```