In [9]:
for i in range(1,int(input())): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(int(i*(((10**i) - 1)/9)))

1
22
333
4444

In [18]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print((i*((10**i - 1)/(10-1))) - (10**i)*(i*10**(i-1)) - (10**(i-2))*(i*(10**(i-1))))

-9.1
-1998.0
-302667.0
-40395556.0
-5049944445.0

In [21]:
if 1988%4 ==0:
    print(True)
else:
    print(False)

True

- The year can be evenly divided by 4, is a leap year, unless:
- The year can be evenly divided by 100, it is NOT a leap year, unless:
- The year is also evenly divisible by 400. Then it is a leap year.

In [26]:
def is_leap(year):
    leap = False
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
    
    return leap

year = int(input())
print(is_leap(year))

True

In [11]:
s = 'Sorting1234'

In [31]:
result = ''
import re
lletters = re.findall('[a-z]', s)
uletters = re.findall('[A-Z]', s)
digits = re.findall('[0-9]', s)

result += ''.join(sorted(lletters)) + ''.join(sorted(uletters))

In [21]:
result

'ginortS'

In [ ]:
import math
math.p

In [35]:
result.upper()

'GINORTS1324'

In [ ]:
sentence = 'coOL dog'
result = ''

for word in sentence.split(): 
    result += j[0]
    
    for i in range(1, len(word)):
        if word[i] > result[-1]:
            result += (word[i]).upper()
        
        elif word[i] < result[-1]:
            result += (word[i]).lower()
            
        else:
            result += word[i]
    result += ''

coOL
cO
dog
cOOLdO

In [59]:
result

'cOOLdOg'